.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.background-animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #56c8f5, #0a7ba9);
  position: relative;
  overflow: hidden;
  padding: 80px;
}

.header-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-container h1 {
  color: #fff;
  font-family: "Gagalin";
}

.header-container nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.banner-title h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-title .contact {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #1a2849;
  padding: 20px;
}

.banner-image {
  animation: mov 2.5s linear infinite;
}

.banner-image img {
  width: 500px;
  display: block;
}

/* burbujas */

.bubble {
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;

  position: absolute;
  bottom: -150;

  animation: bubble 3s linear infinite;
}

.bubble:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.bubble:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.bubble:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.bubble:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.bubble:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.bubble:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.bubble:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.bubble:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes bubble {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes mov {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Botones */
